
.post-body {
    width: 100%;
    align-self: center;
    max-width: 600px;
    padding: 5%;
    background-color: var(--color-background);
    margin-bottom: 6px;
    cursor: pointer;
}
@media (min-width: 1024px) {
    .post-body {
        padding: 0%;
        padding-top: 3%;
        padding-bottom: 3%;
    }
}
.post-text {
    font-size: 17px;
    color: white;
    margin-left: 60px;
}
@media (max-width: 480px) {
    .post-text {
        font-size: 15px;
        margin-left: 50px;
    }
}
.post-text-small {
    font-size: 15px;
    color: white;
}
.post-text-detail {
    font-size: 17px;
    color: white;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.post-buttons {
    min-width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5px;
}
.post-buttons > button {
    width: 100%;
    display: flex;
    background-color: transparent;
    border: 0px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
}
.post-buttons > button[disabled=false]:hover {
    background-color: #111111;
    transition: 0.5s;
}
.post-buttons button span {
    margin-left: 5px;
}
.post-more-options {
    float: right;
    margin-top: -35px;
    background-color: transparent;
    border: 0px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}
.post-more-options:hover {
    background-color: #111111;
    transition: 0.5s;
}

.btn-gift {
    background-color: transparent;
    border: 0px;
    position: absolute;
    right: 20px;
}
.comment-input {
    position: fixed;
    bottom: var(--bottom-menu-height);
    margin-bottom: -3px;
    left: 0px;
    width: 100%;
}
.comment-input textarea {
    width: 100%;
    resize: none;
    background-color: var(--c-black-mute);
    border: 0px;
    color: white;
    padding-left: 15px;
    padding-top: 15px;
}
.comment-input textarea:focus {
    outline: none;
}
.comment-share-btn, .comment-share-btn-d {
    position: absolute;
    right: 10px;
    top: 15px;
    background: transparent;
    border: 0px;
    fill-opacity: 0.8;
    cursor: pointer;
}
.comment-share-btn:hover {
    fill-opacity: 1;
}
.comment-sticker-btn, .comment-sticker-btn-d {
    position: absolute;
    top: 15px;
    background: transparent;
    border: 0px;
    fill-opacity: 0.5;
}
.comment-sticker-btn {
    right: 10px;
    animation: moveRight 0.1s ease-out both;
}
.comment-sticker-btn-d {
    right: 0px;
    animation: moveRightD 0.1s ease-out both;
}

@keyframes moveRight {
    0% {
        right: 45px;
    }        
    100% {
        right: 10px;
    }
}
@keyframes moveRightD {
    0% {
        right: 15px;
    }        
    100% {
        right: 0px;
    }
}
.comment-sticker-btn:hover {
    fill-opacity: 0.9;
}
.comment-sticker-btn-2, .comment-sticker-btn-2-d {
    position: absolute;
    top: 15px;
    background: transparent;
    border: 0px;
    fill-opacity: 0.5;
}
.comment-sticker-btn-2 {
    animation: moveLeft 0.1s ease-out both;
}
.comment-sticker-btn-2-d {
    animation: moveLeftD 0.2s ease-out both;
}
.comment-sticker-btn-2:hover {
    fill-opacity: 0.9;
}
@keyframes moveLeft {
    0% {
        right: 10px;
    }        
    100% {
        right: 45px;
    }
}
@keyframes moveLeftD {
    0% {
        right: 0px;
    }        
    100% {
        right: 10px;
    }
}
.translation-original {
    margin-bottom: 20px;
}
.translation-source {
    color: var(--c-primary); 
    opacity: 0.5; 
    margin-top: 5px
}

.donation-container {
    display: block;
    width: 80%;
    margin: 15px;
    margin-left: 10%;
    border-radius: 20px;
    color: white;
    overflow: hidden;
}
.donation-container > div {
    height: 100%;
    width: 100%;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0,0,0,0.7);
    backdrop-filter: blur(1px);
}
.donation-texts {
    display: flex;
    width: 90%;
    justify-content: space-between;
}